<!--create.ejs-->
<!DOCTYPE html >
<html>
  <head>
    <title>CREATE MUSIC ALBUM</title>
    <link rel="stylesheet" href="../css/style.css" />
    
  </head>
  <body>
    <h1>CREATE MUSIC ALBUM</h1>
    <form method="post"  action="/create">
      <br>
      <br>
      <label for="format">Music Format : </label>
      <input type="text" id="format" name="format">
      <br>

      <br>
      <label for="name">Music Name : </label>
      <input type="text" id="name" name="name">
      <br>

      <br>
      <label for="composer">Composer Name : </label>
      <input type="text" id="composer" name="composer">
      <br>

      <br>
      <center><input type="submit" value="Create"></center>
    </form>
    <br>
    <br>
    <br>
    <br>

    <h1><font face ="Open Sans"  color="#006400">CREATE MUSIC FORMAT</font></h1>
    <form method="post"  action="/create">
      <br>
      <br>
      <label for="title">ID_Format : </label>
      <input type="text" id="title" name="title">
      <br>

      <br>
      <label for="author">Music Format : </label>
      <input type="text" id="author" name="author">
      <br>


      <br>
      <center><input type="submit" value="Create"></center>
    </form>


ิ<br>
<br>
<br>
<br>

    <h1><font face ="Open Sans"  color="#B22222">CREATE MUSIC NAME</font></h1>
    <form method="post"  action="/create">
      <br>
      <br>
      <label for="title">ID_Music : </label>
      <input type="text" id="title" name="title">
      <br>

      <br>
      <label for="author">Music Name : </label>
      <input type="text" id="author" name="author">
      <br>


      <br>
      <center><input type="submit" value="Create"></center>
    </form>

    <br>
<br>
<br>
<br>

    <h1><font face ="Open Sans"  color="#C71585">CREATE COMPOSER NAME</font></h1>
    <form method="post"  action="/create">
      <br>
      <br>
      <label for="title">ID_Composer : </label>
      <input type="text" id="title" name="title">
      <br>

      <br>
      <label for="author">Composer Name : </label>
      <input type="text" id="author" name="author">
      <br>


      <br>
      <center><input type="submit" value="Create"></center>
    </form>

    <br>
    <br>
    <br>
    <center>
    <a href="/">Back to List</a>
    </center>
  </body>
</html>